body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 25px;
}

h1 {
    position: absolute;
    bottom: 5%;
    left: 30%;
    font-size: 4vh;
    color: #fff;
}

.about-me-image-container {
    float: inline-start;
}

.image-one {
    max-width: 400px;
    height: auto;
    transform: translateX(-60px) scale(1.2);
}

.about-me-container {
    padding: 15px 30px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-me-container p {
    font-size: 1rem;
}

.about-me-links {
    display: flex;
    justify-content: right;
    gap: 15px;
    font-size: 30px;
}

@media (max-width: 1024px) {
    main {
        max-width: 700px;
    }

    header {
        display: block;
    }

    .about-me-container {
        text-align: justify;
        display: block;
        transform: none;
    }

    .about-me-image-container {
        margin-left: -6rem;
        margin-top: -3rem;
        margin-right: 1rem;
        margin-bottom: 0rem;
    }

    .about-me-container img {
        transform: none;
    }
}

@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    h1 {
        left: 0;
        right: 0;
        font-size: 3.3vh;
        text-align: center;
    }

    .about-me-container {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .about-me-image-container {
        float: none;
        margin: 0;
    }
    

    .about-me-container h2 {
        text-align: center;
    }

    .image-one {
        width: 100%;
        justify-self: center;
        display: block;
    }

    .about-me-links {
        justify-content: center;
    }
}