body {
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(168deg, #1394c7 25%, #FFFFFF 25.1%);
    background-repeat: no-repeat;
}

header {
    display: flex;
    align-items: center;
    padding: 25px;
}

h1 {
    position: absolute;
    bottom: 0;
    left: 7%;
    font-size: 2.5rem;
    color: #FFFFFF;
    z-index: 1;
}

i {
    cursor: pointer;
}

.about-me-image-container {
    float: inline-start;
    position: relative;
}

.image-one {
    max-width: 400px;
    height: auto;
    transform: translateX(-60px) scale(1.2);
}

.about-me-container {
    padding: 15px 30px;
    margin: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #FFFFFF;
}

.about-me-container p {
    font-size: 1rem;
}

.about-me-links {
    display: flex;
    justify-content: right;
    gap: 15px;
    font-size: 30px;
}

section {
    padding: 15px;
}

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 20px;
}

.project {
    display: flex;
    flex-direction: column;
}

.screenshot {
    background-color: mediumseagreen;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1.6rem;
}

.project-info {
    padding: 20px;
    box-shadow: 2px 5px 10px rgb(0 0 0 / 0.2);
}

.title {
    display: flex;
    align-items: center;
}

.title h3 {
    flex: 1;
    margin: 0 5px;
}

.title i {
    margin: 0 15px;
    font-size: 1.4rem;
}

.title a {
    display: block;
    height: 25px;
}

.title img {
    width: 25px;
}

@media (max-width: 1024px) {
    body {
        padding-top: 70px;
        max-width: 700px;
    }

    header {
        display: block;
    }

    h1 {
        left: 18rem;
        right: 0;
        top: 1.5rem;
        text-align: center;
    }

    .about-me-container {
        text-align: justify;
        display: block;
        transform: none;
    }

    .about-me-image-container {
        margin-left: -6rem;
        margin-top: -6rem;
        margin-right: 1rem;
        margin-bottom: 0rem;
        position: initial;
    }

    .about-me-container img {
        transform: none;
        max-width: 350px;
    }

    section {
        padding: 25px;
    }

    .work-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 648px) {
    body {
        padding-top: 0;
        background: linear-gradient(167deg, #1394c7 15%, #FFFFFF 15.1%);
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    h1 {
        left: 0;
        right: 0;
        top: unset;
        font-size: 2.2rem;
        text-align: center;
    }

    .about-me-container {
        box-shadow: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .about-me-image-container {
        float: none;
        margin: 0;
        position: relative;
    }
    

    .about-me-container h2 {
        text-align: center;
    }

    .image-one {
        width: 100%;
        justify-self: center;
        display: block;
    }

    .about-me-links {
        justify-content: center;
    }
}

@media (max-width: 575px) {
    body {
        background: linear-gradient(167deg, #1394c7 9%, #FFFFFF 9.1%);
    }

    .work-container {
        grid-template-columns: 1fr;
    }
}